body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-wrapper--gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  gap: 2rem;
}

.top-wrapper--no-gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
}

.audioPlayer {
  max-height: 40px;
  width: 100px;
  transition: width 1s;
}

.audioPlayer:hover {
  width: 350px;
}

@media screen and (max-width: 810px) {
  .audioPlayer {
    display: none;
  }
}
